<%= simple_form_for storefront, html: { id: :storefront_form },
                    data: { controller: 'nested-form', nested_form_index_value: 'NEW_RECORD' } do |form| %>
  <% if storefront.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(storefront.errors.count, "error") %> prohibited this storefront from being saved:</h2>

      <ul>
        <% storefront.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-full h-auto bg-gray-50 rounded-xl border border-neutral-200 justify-start items-center">
    <div
      class="return-reason-container "
    >
      <template hidden data-nested-form-target="template">
        <%= form.simple_fields_for :reasons, Reason.new, child_index: 'NEW_RECORD' do |reason_fields| %>
          <%= render 'reason_edit', f: reason_fields %>
        <% end %>
      </template>

      <button type="button" data-action="nested-form#addAssociation" class="p-4 justify-start items-center gap-6 inline-flex">
        <i class="fa-sharp fa-solid fa-circle-plus text-2xl text-blue-600"></i>
        <span class="grow shrink basis-0 text-base font-semibold text-blue-600">Add Return Reason</span>
      </button>

      <%= render partial: 'reason_list' %>

      <div hidden data-nested-form-target="addItem"></div>
    </div>
  </div>
<% end %>
