<%= simple_form_for storefront, data: { controller: 'nested-form', nested_form_index_value: 'NEW_RECORD' } do |form| %>
  <% if storefront.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(storefront.errors.count, "error") %> prohibited this storefront from being saved:</h2>

      <ul>
        <% storefront.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="return-reason-container">
    <ul
      class="divide-y divide-gray-300 overflow-hidden bg-gray-50 shadow-sm rounded-xl border"
      data-action="dragstart->sortable#dragstart dragover->sortable#dragover dragend->sortable#dragend"
      data-controller="sortable"
      data-sortable-target="list" >
      <li>
        <%= link_to new_storefront_reason_path(@storefront, @storefront.reasons.new), data: { turbo_frame: 'modal' }, class: "p-4 justify-start items-center grow shrink gap-4 inline-flex w-full"  do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><circle cx="12" cy="12" r="12" fill="#3164F6"/><g fill="#fff"><path d="M17 10.998H7a1 1 0 0 0 0 2h10a1 1 0 1 0 0-2Z"/><path d="M11 7v10a1 1 0 1 0 2 0V7a1 1 0 1 0-2 0Z"/></g></svg>
          <i class="add-icon"></i> <span class="text-blue-600 text-base font-semibold leading-snug">Add Return Reason</span>
        <% end %>
      </li>
      <%= form.simple_fields_for :reasons, @storefront.reasons.ordered do |reason_fields| %>
        <%= render 'reason', f: reason_fields %>
      <% end %>
    </ul>
  </div>

  <div class="fixed bg-white bottom-0 left-[284px]">
    <div class="pl-6 pr-4 py-4 bg-white shadow justify-between items-center inline-flex">
      <div class="text-black text-sm font-medium leading-tight">Remember to save your changes before leaving this page</div>
      <div class="px-6 py-3.5 bg-amber-400 rounded-lg justify-center items-center gap-1 flex">
        <%= form.submit 'Save' %>
      </div>
    </div>
  </div>
<% end %>
