<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>RailsFrontendTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full bg-zinc-100">
    <main>
      <div class="fixed inset-y-0 flex flex-col w-[284px] bg-zinc-800"></div>
      <div class="ml-[284px] my-4 mr-4">
        <div class="ml-6">
          <%= yield %>
        </div>
      </div>
    </main>
    <%= render 'modal' %>
  </body>
</html>
